body {
  margin: 0;
  min-height: 100vh;
  background: url('img/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 50px 32px;
  gap: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.header a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1.7em;
}

.logo {
height: 100px;
margin-top: -40px;
}

