body {
  margin: 0;
  min-height: 100vh;
  background: url('img/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 50px 32px;
  gap: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.header a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1.7em;
}

.logo {
height: 100px;
margin-top: -40px;
}


.afspraak-button {
  position: absolute;
  left: 32px;
  bottom: 200px;
  background-color: #A8DEFF;
  color: #000000;
  padding: 25px 180px;
  border: none;
  border-radius: 32px;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  transition: background 0.2s;
  z-index: 1000;
}

.afspraak-button:hover {
  background-color: #ffffff;
}

